PHISHING_MAIL_API_KEY=
INTEGRATION_API_KEY=
PRELOAD_MODELS_ON_STARTUP=false
CLASSIFICATION_THRESHOLD=0.5
MODEL_DIR=app/ml/models/secsuite_onnx_quantized

GCP_PROJECT_ID=secsuite-phishing-mail-api
GCP_REGION=europe-west1
SERVICE_NAME=secsuite-phishing-mail-api
STAGING_SERVICE_NAME=secsuite-phishing-mail-api-staging
AR_REPO=secsuite-phishing-mail-api
IMAGE_NAME=secsuite-phishing-mail-api
MODEL_BUCKET=secsuite-phishing-mail-api-models-bucket
MODEL_ARTIFACTS_PREFIX=secsuite-phishing-mail-api-models
GHA_SA_NAME=gha-${GCP_PROJECT_ID}
REPO_SLUG=secsuite/phishing-mail-api
